<h1>Company searcher</h1>

<form id="search_form" name="search" action="/companies/org_number" method="org_number">
  <input type="text" name="company" class="search_field" value="<%= params[:name] %>" /><br />
  <input type="submit" value="search" class="button" />
</form>
